- name: Clone app repository
  git:
    repo: https://github.com/exmachina30/devops-techincal-test.git
    dest: /home/ubuntu/devops-technical-test
    force: yes
  become: true
  become_user: ubuntu

- name: Install dependencies
  npm:
    path: /home/ubuntu/devops-technical-test/app

- name: Run app with PM2
  become_user: ubuntu
  shell: |
    pm2 delete all || true
    pm2 start index.js --name node-app
    pm2 save
  args:
    chdir: /home/ubuntu/devops-technical-test/app